*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background:#f5f5f5;
  color:#222;
}

.app{
  display: flex;
  height: 100vh;
  width: 100vw;
}
.leaflet-pane {
  z-index: 400;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 1000;
}

.leaflet-marker-pane {
  z-index: 600;
}
